@charset "utf-8";
/* 초기화 */
body,div,header,nav,section,footer,ul,li,h1,h2,h3,h4,dl,dt,dd,p,span{margin:0; padding:0;}
ul,li{list-style: none;}
a{text-decoration: none;}
.hidden{display: none;}

@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'yg-jalnan';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'TlabShin';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.3/TlabShinYBA1.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* header */
header{width:100%; position:absolute; z-index:1; font-family: 'crd'; cursor: pointer; z-index:50; }
header div.main_menu{width:100%; height:80px; background: rgba(0,0,0,0.1);}
header div.main_menu_center img.off{display:none;}
header div.main_menu_center{position:relative; width:100%; height:67px; padding:10px; }
header div.main_menu_center h1{position:absolute; left:20px; top:20px;}
header nav#menu_center{position:absolute; left:50%; margin-left:-450px; width:900px; height:100px;  text-align:center;}
header nav#menu_center ul li{height:60px; float:left; font-size:16px; color:white; position:relative;}
header nav#menu_center ul li dt{line-height:60px;}
header nav#menu_center ul li dt a{color:white; padding:10px; }
header nav#menu_center ul li dd{padding-top:20px; line-height:25px;}
header nav#menu_center ul li dd a{color:black; font-weight:200; display:block; width:100%; }

header nav#menu_center ul li:nth-child(1) dl{width:136px;}
header nav#menu_center ul li:nth-child(2) dl{width:136px;}
header nav#menu_center ul li:nth-child(3) dl{width:140px;}
header nav#menu_center ul li:nth-child(4) dl{width:140px;}
header nav#menu_center ul li:nth-child(5) dl{width:174px;}
header nav#menu_center ul li:nth-child(6) dl{width:153px;}

header div.top_menu{position:absolute; right:50px; top:20px; border:1px solid white; padding:4px}
header div.top_menu a{color:#fff;}
hr{position:relative; top:-213px; display:none;}




/* section */
section{width:100%; font-family: 'crd' }

/* section01 */
#wrap{}
#wrap .logo{position: relative;}
#wrap .logo img{width: 85px; height: 58px; margin:0 auto; z-index: 60; position:absolute; top:380px; position:absolute; left:48%;}
#wrap .mouse{width: 24px; height: 52px; position: absolute; bottom:70px; left:49%; z-index: 61;}
#wrap .mouse img{width: 24px; height: 52px; }
#section01{}
#section01 > .images ul{width:100%; height:920px; }
#section01 > .images li{width:100%; height:920px; position: absolute; text-align: center;  }
#section01 > .images li span{width:650px; font-size: 52px; color:#fff; font-family:yg-jalnan; position: absolute; top: 48%; right:33%;}
#section01 .images .visual_0{background:url(../img/main/main_vis_01.jpg) no-repeat 100%; background-size: cover; }
#section01 .images .visual_1{background:url(../img/main/main_vis_02.png) no-repeat 100%; background-size: cover; }
#section01 .images .visual_2{background:url(../img/main/main_vis_03.jpg) no-repeat 100%; background-size: cover; }
#section01 .images .visual_3{background:url(../img/main/main_vis_04.png) no-repeat; background-size: cover; }
#section01 .images .visual_4{background:url(../img/main/main_vis_05.png) no-repeat; background-size: cover; }
#section01 .images .visual_5{background:url(../img/main/main_vis_06.png) no-repeat; background-size: cover; }
#section01 .images .visual_6{background:url(../img/main/main_vis_07.png) no-repeat; background-size: cover; }
#section01 #btn{width: 150px; height: 10px; text-indent: -9999px; z-index: 62;  position:relative; left: 46%; bottom:300px; }

#section01 #btn li{width:10px; height: 10px; border-radius:100%; float: left; border:1px solid rgba(255,255,255,0.9); margin-right: 6px; cursor: pointer; overflow:hidden;}
#section01 #btn li:hover{border:2px solid #fff;}
#section01 #btn li.on{background:#fff; }



#aside{ position: absolute; top: 50%; left:95%; float: right; z-index:49; position: fixed; cursor:pointer; }
#aside{}
#aside li a{color:#000; font-size: 10px; }
#aside li a:hover{color:#fff;}
#aside li.on a{color:#fff; }

/* section02 */
#section02{height:917px; overflow: hidden;}
.title{width:457px; height:110px; margin:0 auto;  margin-top: 148px; text-align:center; }
.title strong{font-size:2.2em; }
.title strong span{font-weight:200;}
.title h3{font-size:0.94em; font-weight:300; height:46px;  margin-top:20px;}
.contents{width:1200px; height:448px; margin:0 auto; margin-top: 46px; background:orange; }
.contents .promotion{width:350px; padding:46px 0 0 46px; float:left; color:white;}
.contents .promotion p:first-child{font-size:35px; font-weight:300;}
.contents .promotion p:last-child{font-size:16px; margin-top:17px;}
.contents .promotion p span{font-weight:500;}
.video{width: 800px; height:100%; float: right;}
.video iframe{width: 800px; height:100%; border:none;}


/* section03 */
#section03{height:917px; overflow: hidden;}
#section03 .title{width:568px; height:110px; margin:0 auto;  margin-top: 139px; text-align:center; }
#section03 .title strong{width:464px; font-size:2.5em;  margin:0 auto;}
#section03 .title strong span{font-weight:200;}
#section03 .title h3{font-size:0.94em; font-weight:300; height:46px;  margin-top:20px;}
#section03 > .contents{width:1346px; height:495px; margin:0 auto; margin-top:46px; background:white; }
.product01{width:320px; height:100%; background:url(../img/main/sec01_img_01.png) no-repeat; float: left; margin-right: 22px;}
.product02{width:320px; height:100%; background:url(../img/main/sec01_img_02.png) no-repeat; float: left; margin-right: 22px;}
.product03{width:320px; height:100%; background:url(../img/main/sec01_img_03.png) no-repeat; float: left; margin-right: 22px; }
.product04{width:320px; height:100%; background:url(../img/main/sec01_img_04.png) no-repeat; float: left; }

/* section04 */
#section04{height:917px; background:#f5f5f5; overflow: hidden;}
#section04 .title{width:568px; height:110px; margin:0 auto;  margin-top: 143px; text-align:center; }
#section04 .title strong{width:464px; font-size:2.5em;  margin:0 auto;}
#section04 .title strong span{font-weight:200;}
#section04 .title h3{font-size:0.94em; font-weight:300; height:46px;  margin-top:20px;}
#section04 > .contents{width:1400px; height:393px; margin:0 auto; margin-top: 49px; cursor:pointer; background:white;}
#section04 > .contents img{width:347px; height:240px; border-bottom:3px solid #666;}
#section04 > .contents img:hover{border-bottom:3px solid orange;}
#section04 > .contents dl{ padding:16px; }
#section04 > .contents dl > dt{width:300px; font-size:1.1em; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
#section04 > .contents dl > dd{width:200px; margin-top:23px; font-size:0.95em; font-weight:300; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#section04 > .contents dl > dd:last-child:hover{text-decoration:underline; font-weight:500;}
#section04 > .contents dd:last-child{margin-top:20px; font-size:0.85em; color:#919191;  }
.news01{width:347px; height:99.5%;  border:1px solid #666; float:left;}
.news02{width:347px; height:99.5%; border:1px solid #666; float:left;}
.news03{width:347px; height:99.5%; border:1px solid #666; float:left;}
.news04{width:347px; height:99.5%; border:1px solid #666; float:left;}

/* section05 */
#section05{height:917px;}
#section05 .image {height:318px; }
#section05 .image .img01{width:50%; height:100%; float:left; background:url(../img/main/sec03_img_00.png) no-repeat; background-size:cover;}
#section05 .image .img02{width:50%; height:100%; float:left; background:url(../img/main/sec03_img_01.png) no-repeat;background-size:cover;}
#section05 .image .box{width:180px; height:182px; line-height:30px; padding:1.6em 0; font-size:21px; border:10px solid #fff; box-sizing:border-box; margin:74px 330px; color:#fff; font-size:21px; text-align: center; }
#section05 .image .box:hover{cursor:pointer; background:#fff; color:#666;}
#section05 .contents01{width:100%; height:206px;  margin:0 auto; text-align:center; margin-top:55px; float:left; margin-bottom:92px;}
#section05 .contents01 img{margin:0 auto; text-align:center;}
#section05 .contents01 p{font-weight:300; font-size:18px; margin-top:23px; margin-bottom:92px; }
#section05 .contents02{width:1344px; height:187px; margin:0 auto; text-align:center; }
#section05 .contents02 .list01{margin:0 auto; }
#section05 .contents02 .list02{margin:0 auto; }
#section05 .contents02 .list01 li{width:204px; height:67px; margin-left:20px; float:left; }
#section05 .contents02 .list02 li{width:204px; height:67px; margin-left:20px; margin-top:30px;  float:left;}

/* footer */
#footer_area { width:100%; height:211px; float: left; margin-top:74px;}
footer{height:100%;}
footer div.ft_top_wrap {height:77px; background:white;  border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; }
footer div.ft_top_wrap div.ft_top_box_wrap {width:1400px; height:75px; margin:0 auto;}
footer div.ft_top_wrap div.ft_top_box {width:700px; height:75px; float:left;  padding: 20px 20px; margin: 0 auto; box-sizing:border-box; }
footer div.ft_top_wrap div.ft_top_box:nth-child(1){border-right: 1px solid #dfdfdf;}
footer div.ft_top_wrap div.ft_top_box span {line-height:35px; display:inline-block; width:80px; font-weight:500; float:left; font-family:'crd';}
footer div.ft_top_wrap div.ft_top_box ul{float:left; width:570px; height:35px;line-height:35px; }
footer div.ft_top_wrap div.ft_top_box p{float:left; width:55%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color: #000; font-weight: 200;}
footer div.ft_top_wrap .ft_top_box a.link {display:inline-block; float:right;}

footer div.ft_bottom_wrap {height:134px; padding:20px;}
footer div.ft_bottom_wrap > div {width:1400px; margin:0 auto; overflow:hidden;}
footer div.ft_bottom_wrap ul > li {float:left; padding:0 15px; border-right:1px solid #dfdfdf;}
footer div.ft_bottom_wrap ul > li:last-child {padding-right:0; border-right:none;}
footer div.ft_bottom_wrap ul > li a {font-family:'crd'; font-weight:500; color:#222222; font-size:15px; }
footer div.ft_bottom_wrap address {font-style:normal; font-size:0.92em; font-weight:200; line-height:1.5em; font-family:'crd';}
footer div.ft_bottom_wrap p {font-weight:200; margin-top:7px; display:inline-block; font-size:0.92em; line-height:1.5em; font-family:'crd';}