@charset "utf-8";
body, div, header, article, section, footer, h1, h2, h3, h4, p, span, ul, li, div,nav,a,dl,dt,dd{margin:0; padding:0;}

.hidden{display: none;}
ul, li {list-style:none;}
a{text-decoration: none; }

@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'yg-jalnan';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'TlabShin';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.3/TlabShinYBA1.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{font-family: 'crd', 'Poppins', '돋움', arial, Dotum, AppleGothic, sans-serif;}
.hd_wrap{width:100%; height:511px;}

/* 헤더영역 */
header{width:100%; position:absolute; z-index:1; font-family: 'crd'; cursor: pointer;}
header div.main_menu{width:100%; height:284px;}
header div.main_menu_center img.off{display:none;}
header div.main_menu_center{position:relative; width:100%; height:67px; padding:10px;}
header div.main_menu_center h1{position:absolute; left:20px; top:20px;}
header nav#menu_center{position:absolute; left:50%; margin-left:-450px; width:900px; height:100px;  text-align:center;}
header nav#menu_center ul li{height:60px; float:left; font-size:16px; color:white; position:relative;}
header nav#menu_center ul li dt{line-height:60px;}
header nav#menu_center ul li dt a{color:white; padding:10px; }
header nav#menu_center ul li dd{padding-top:20px; line-height:25px;}
header nav#menu_center ul li dd a{color:black; font-weight:200; display:block; width:100%; }

header nav#menu_center ul li:nth-child(1) dl{width:136px;}
header nav#menu_center ul li:nth-child(2) dl{width:136px;}
header nav#menu_center ul li:nth-child(3) dl{width:140px;}
header nav#menu_center ul li:nth-child(4) dl{width:140px;}
header nav#menu_center ul li:nth-child(5) dl{width:174px;}
header nav#menu_center ul li:nth-child(6) dl{width:153px;}

header div.top_menu{position:absolute; right:50px; top:20px; border:1px solid white; padding:4px}
header div.top_menu a{color:#fff;}
hr{position:relative; top:-213px; display:none;}



/*비주얼영역*/
article {width:100%; height:511px; position:relative;}
#article_vis_area{width:100%; height:100%; background:transparent;}
#article_vis_area{height:100%; background:url(../img/sub2/sub_vis_06.png) 100% 100%; animation: move 5s infinite alternate;}
@keyframes move{
	0%{background-position:0 0; }
	100%{background-position:0 -100px; } 
}
#article_vis_area h1{height:71px; line-height:71px; padding-top:230px; text-align:center; font-family: 'yg-jalnan'; font-size:50px; color:#fff; font-weight:600;}
.article_menu{width:100%; height:71px; border-top:1px solid rgba(255,255,255,0.2); margin-top:150px; float: left; }
.article_menu ul{width:272px; margin:0 auto; }
.article_menu li{float:left; margin-right:20px; position:relative; padding-bottom:5px; text-align:center; padding:19px 25px; font-family: 'crd';}
.article_menu li a{color:#fff; opacity:.5; font-size:17px; font-weight:400; cursor:pointer;}
.article_menu li span{display:none; width:65%; height:2px; background:#fff; position:absolute; bottom:10px; }
.article_menu li span.on{display:block; }
     a{text-decoration:none; color:#000; }
.article_menu li a:after{content:""; display:block;  width:65%; height:2px; background:#fff; position:absolute; bottom:10px; transition:all 1s; 
    transform:scale(0,1);}
.article_menu li:hover a:after{transform:scale(1,1);}



/*컨텐츠영역*/
section {width:100%;  margin: 70px auto; }
section .sub_tit_wrap {width:100%; height:44px; margin:81px 0 81px 0; line-height:1.1em; text-align:center; font-weight: 500; font-size:2.4em;}

section .sub_content_wrap .sub_content1 {width:1400px; height: 260.89px; background:#f99700 url(../img/sub2/sub0201_img_00.png) no-repeat center center; overflow:hidden; margin:0 auto; }
section .sub_content_wrap .sub_content1_1 {height:62px; padding:2em 0 2.5em; font-size:2.6em; color:#fff; text-align:center; font-weight:300;}

section .sub_content_wrap .sub_content2_wrap {width:1400px; height: 495.25px; padding: 0 1.5%; margin: 0 auto; margin-top:-2.5em; box-sizing:border-box; font-family:'crd', 'Poppins', '돋움', arial, Dotum, AppleGothic, sans-serif}
section .sub_content_wrap .sub_content2_wrap .sub02_box {width:24%;  float:left;  margin:0.5%; overflow:hidden; }
section .sub_content_wrap .sub_content2_wrap .sub02_box .sub02_text {border: 1px solid #eee; border-top:none; padding:0 15px 10px 15px;  box-sizing:border-box; }
section .sub_content_wrap .sub_content2_wrap .sub02_box .n {width: 40px; height: 40px; line-height: 40px; margin:-20px auto 10px; font-size: 0.9em; z-index:1; border-radius: 100%; background:#ffa300; color:#fff; text-align:center; position:relative; }
section .sub_content_wrap .sub_content2_wrap .sub02_box .t {text-align:center; font-size:1.3em; font-weight: 600;}
section .sub_content_wrap .sub_content2_wrap .sub02_box .line {width:100%; height:7px; background:url(../img/sub2/bg_st_01.png) repeat 0 0; margin:15px auto;}
section .sub_content_wrap .sub_content2_wrap .sub02_box .c b {display:block; font-size:1.05em; padding-left: 15px; padding-bottom: 7px; position:relative; font-weight: 500; color:#222;}
section .sub_content_wrap .sub_content2_wrap .sub02_box .c b img {transform: rotate(-45deg); position:absolute; left:0px; }
section .sub_content_wrap .sub_content2_wrap .sub02_box .c span{display:block; font-size: 0.9em; padding-left:15px; font-weight:300; color:#222;}


section .sub_content_wrap .sub_content3_wrap {width:100%; height:30%; overflow:hidden; margin-bottom:10em; margin-top:2em; padding-top:2em; position:relative;  }
section .sub_content_wrap .sub_content3_wrap .inner {position: relative; width:1200px; margin-right:auto; margin-left:auto; }
section .sub_content_wrap .sub_content3_wrap .sub_back {background:#f9f9f9; width:100%; height:30%; z-index:-1; top:0; left:0; position:absolute; }
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_1 { margin:0; text-align:center; }
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_1 .s {font-weight:300; text-decoration:underline; color:#222; }
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_1 .t {font-size:2em; font-weight: 600; line-height:1.3em; margin: 15px auto 15px; }
section div.sub_content_wrap .sub_content3_wrap .inner .sub_content3_1 .c {font-weight:300;}

section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_2 {width:100%; overflow:hidden;margin-top: 2em; }
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_2 div.c_box_center {float:unset; margin:0 auto; } 
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_2 div.c_box_center .i {width:100%; height:400px; text-align:center; margin:0 auto; }
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_2 div.c_box_center .i img { max-width:600px; vertical-align:top; }
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_2 div.c_box_center .c_box_txt {margin-top:20px;  text-align:center;}
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_2 .c_box_center .c_box_txt b{font-weight: 500; text-align:center; font-size:17px; }


section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_3 {margin-top:50px; width:100%; text-align:center; overflow:hidden; }
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_3 .c_box {width:42%; display:inline-block; vertical-align:top; margin:0 0.3%; text-align:left;}
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_3 .c_box .i_2 {width:504px; height:320px;}
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_3 .c_box .i_2 img {vertical-align:top;}
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_3 .c_box div.t_2 {font-size:1.6em; font-weight: 600; line-height: 1em; margin: 30px auto;}
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_3 .c_box ul.c_2 ul {width:504px; height:92px; }
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_3 .c_box ul.c_2 li {margin-bottom:10px; padding-left:15px; text-indent: -14px; font-weight: 300; font-size:17px;}
div.c_box ul.c_2 img {width:4px; height:4px; position:relative; top:-5px;}


section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_4_center {width:100%; text-align:center; margin-top: 4em; margin-bottom:4em; }
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_4_center .s_2 {font-weight:400; text-decoration:underline; }
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_4_center .t_2 {font-size: 2em; font-weight:600; line-height: 1.3em; margin: 15px auto 15px; }


section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_4 .c_box4_center {width:100%; height:444px; margin-top: 50px; }
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_4 .c_box4_center .i_3 {width:100%; height:400px; text-align:center;}
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_4 .c_box4_center .i_3 img {width:100%; max-width: 600px; vertical-align:top; height:400px; }
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_4 .c_box4_center .c_box_txt2 {margin-top:20px; text-align:center;}
section .sub_content_wrap .sub_content3_wrap .inner .sub_content3_4 .c_box4_center .c_box_txt2 b {font-weight: 500;}



/*풋터영역*/

#footer_area { width:100%; height:211px;}
footer{height:100%;}
footer div.ft_top_wrap {height:77px; background:white;  border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; }
footer div.ft_top_wrap div.ft_top_box_wrap {width:1400px; height:75px; margin:0 auto;}
footer div.ft_top_wrap div.ft_top_box {width:700px; height:75px; float:left;  padding: 20px 20px; margin: 0 auto; box-sizing:border-box; }
footer div.ft_top_wrap div.ft_top_box:nth-child(1){border-right: 1px solid #dfdfdf;}
footer div.ft_top_wrap div.ft_top_box span {line-height:35px; display:inline-block; width:80px; font-weight:500; float:left; font-family:'crd';}
footer div.ft_top_wrap div.ft_top_box ul{float:left; width:570px; height:35px;line-height:35px; }
footer div.ft_top_wrap div.ft_top_box p{float:left; width:55%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
footer div.ft_top_wrap .ft_top_box a.link {display:inline-block; float:right;}

footer div.ft_bottom_wrap {height:134px; padding:20px;}
footer div.ft_bottom_wrap > div {width:1400px; margin:0 auto; overflow:hidden;}
footer div.ft_bottom_wrap ul > li {float:left; padding:0 15px; border-right:1px solid #dfdfdf;}
footer div.ft_bottom_wrap ul > li:last-child {padding-right:0; border-right:none;}
footer div.ft_bottom_wrap ul > li a {font-family:'crd'; font-weight:500; color:#222222; font-size:15px;}
footer div.ft_bottom_wrap address {font-style:normal; font-size:0.92em; font-weight:200; line-height:1.5em; font-family:'crd';}
footer div.ft_bottom_wrap p {font-weight:200; margin-top:7px; display:inline-block; font-size:0.92em; line-height:1.5em; font-family:'crd';}