@charset "utf-8";
/* 초기화 */
body, div, header, article, section, footer,ul,li,div,nav,a,dl,dt,dd,h1,h2,h4, hr,table,thead,tr,th,tbody,td,form,legend,option,select,input,fieldset,button,p{margin:0; padding:0; }
ul,li{list-style:none;}
a{text-decoration:none;}
.hidden{display: none;}
table,thead,tr,th,tbody,td{border-collapse:collapse;}
select,input,button{border:none;}
fieldset{border:0; vertical-align:top;}
legend{clip:rect(0 0 0 0);}

@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'crd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'yg-jalnan';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'TlabShin';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.3/TlabShinYBA1.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body{font-family: 'crd', 'Poppins', '돋움', arial, Dotum, AppleGothic, sans-serif;}
.hd_wrap{width:100%; height:511px;}

/* 헤더영역 */
header{width:100%; position:absolute; z-index:1; font-family: 'crd'; cursor: pointer;}
header div.main_menu{width:100%; height:284px;}
header div.main_menu_center img.off{display:none;}
header div.main_menu_center{position:relative; width:100%; height:67px; padding:10px;}
header div.main_menu_center h1{position:absolute; left:20px; top:20px;}
header nav#menu_center{position:absolute; left:50%; margin-left:-450px; width:900px; height:100px;  text-align:center;}
header nav#menu_center ul li{height:60px; float:left; font-size:16px; color:white; position:relative;}
header nav#menu_center ul li dt{line-height:60px;}
header nav#menu_center ul li dt a{color:white; padding:10px; }
header nav#menu_center ul li dd{padding-top:20px; line-height:25px;}
header nav#menu_center ul li dd a{color:black; font-weight:200; display:block; width:100%; }

header nav#menu_center ul li:nth-child(1) dl{width:136px;}
header nav#menu_center ul li:nth-child(2) dl{width:136px;}
header nav#menu_center ul li:nth-child(3) dl{width:140px;}
header nav#menu_center ul li:nth-child(4) dl{width:140px;}
header nav#menu_center ul li:nth-child(5) dl{width:174px;}
header nav#menu_center ul li:nth-child(6) dl{width:153px;}

header div.top_menu{position:absolute; right:50px; top:20px; border:1px solid white; padding:4px}
header div.top_menu a{color:#fff;}
hr{position:relative; top:-213px; display:none;}


/*비주얼영역*/
article {width:100%; height:511px; position:relative;}
#article_vis_area{width:100%; height:100%; background:transparent;}
#article_vis_area{height:100%; background:url(../img/sub5/sub_vis_08.jpg) 100% 100%; animation: move 5s infinite alternate;}
@keyframes move{
	0%{background-position:0 0; }
	100%{background-position:0 -100px; } 
}
#article_vis_area h2{height:71px; line-height:71px; padding-top:230px; text-align:center; font-family: 'yg-jalnan'; font-size:50px; color:#fff; font-weight:600;}
.article_menu{width:100%; height:71px; border-top:1px solid rgba(255,255,255,0.2); margin-top:150px; float: left; }
.article_menu ul{width:400px; margin:0 auto; }
.article_menu li{float:left; margin-right:20px; position:relative; padding-bottom:5px; text-align:center; padding:19px 25px; font-family: 'crd';}
.article_menu li a{color:#fff; opacity:.5; font-size:17px; font-weight:400; cursor:pointer;}
.article_menu li span{display:none; width:55%; height:2px; background:#fff; position:absolute; bottom:10px; }
.article_menu li span.on{display:block; }
     a{text-decoration:none; color:#000; }
.article_menu li a:after{content:""; display:block;  width:55%; height:2px; background:#fff; position:absolute; bottom:10px; transition:all 1s; 
    transform:scale(0,1);}
.article_menu li:hover a:after{transform:scale(1,1);}
 

/*컨텐츠영역*/
section {width:100%; margin:70px auto 0;}
section div.sub_tit_wrap {width:100%; height:44px; margin:81px 0 81px 0; line-height:1.1em;text-align:center; font-weight: 500; font-size:2.4em;}
section div.sub_content_wrap {width:1200px; height:669px; margin:0 auto;}
section div.sub_content_wrap  div#sub_image{width:490px; height:215px; margin:0 auto; }
section div.sub_content_wrap  div#sub_text{height:56px; margin:20px 0 50px 0; text-align:center; font-size:19px; font-weight:500; color:#222222;}
section div.sub_content_wrap  div#sub_box{width: 1200px; height:200px; }
section div.sub_content_wrap  div#sub_box ul{width:576px; height:200px;margin: 0 auto;}
section div.sub_content_wrap  div#sub_box li{float:left; text-align:center;}
section div.sub_content_wrap  div#sub_box li:first-child{width:278px; height: 200px; margin-right:20px;}
section div.sub_content_wrap  div#sub_box li:last-child{width:278px; height: 200px;}
section div.sub_content_wrap  div#sub_box dl{width:278px; height:198px; border:1px solid rgba(0,0,0,0.5);}
section div.sub_content_wrap  div#sub_box dt{height:30px; font-size:24px; margin:50px 0 20px 0;}
section div.sub_content_wrap  div#sub_box dd{margin:0 auto; width:197px; height:23px; background:#ffa300;  font-size:18px; padding:5px;}
section div.sub_content_wrap  div#sub_box dd a{color:white;}

/*풋터영역*/
#footer_area { width:100%; height:211px;}
footer{height:100%;}
footer div.ft_top_wrap {height:77px; background:white;  border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; }
footer div.ft_top_wrap div.ft_top_box_wrap {width:1400px; height:75px; margin:0 auto;}
footer div.ft_top_wrap div.ft_top_box {width:700px; height:75px; float:left;  padding: 20px 20px; margin: 0 auto; box-sizing:border-box; }
footer div.ft_top_wrap div.ft_top_box:nth-child(1){border-right: 1px solid #dfdfdf;}
footer div.ft_top_wrap div.ft_top_box span {line-height:35px; display:inline-block; width:80px; font-weight:500; float:left; font-family:'crd';}
footer div.ft_top_wrap div.ft_top_box ul{float:left; width:570px; height:35px;line-height:35px; }
footer div.ft_top_wrap div.ft_top_box p{float:left; width:55%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
footer div.ft_top_wrap .ft_top_box a.link {display:inline-block; float:right;}

footer div.ft_bottom_wrap {height:134px; padding:20px;}
footer div.ft_bottom_wrap > div {width:1400px; margin:0 auto; overflow:hidden;}
footer div.ft_bottom_wrap ul > li {float:left; padding:0 15px; border-right:1px solid #dfdfdf;}
footer div.ft_bottom_wrap ul > li:last-child {padding-right:0; border-right:none;}
footer div.ft_bottom_wrap ul > li a {font-family:'crd'; font-weight:500; color:#222222; font-size:15px;}
footer div.ft_bottom_wrap address {font-style:normal; font-size:0.92em; font-weight:200; line-height:1.5em; font-family:'crd';}
footer div.ft_bottom_wrap p {font-weight:200; margin-top:7px; display:inline-block; font-size:0.92em; line-height:1.5em; font-family:'crd';}